@import '../_base.scss';

.skill-and-experience {
    //@extend .fix-background;
    z-index: 5;
    background-image: url('./images/our-service-bg.jpg');
    background-size: cover;
    background-position: 50% 50%;
    position:relative;

    
    .skill-and-experience-container {
        text-align: center;
        color: $main-color;
        z-index: 5;

        .block{
            @extend .center-content;
            min-height: 300px;
            animation-duration: 1000ms;
            visibility: hidden;
            transition: visibility 1000ms linear;
            animation-delay: 200ms;
        }

        .block.animated {
            visibility: visible;
        }
    }

    .our-skill {
        @extend .center-content;
        color: white; 
        padding: 30px 20px 30px 20px;
        .text-content {
            max-width: $text-content-max-width;
            text-align: center;
        }
    }

    .our-skill-container {
        width: 100%;
    }


    .our-skill-block {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .col-with-gap{
        margin-bottom: 15px;
    }

    .skill-card {
        background-color: rgba(128, 128, 128, 0.4)
    }
}


